.container {
  background-color: #fff;
}

.header {
  background-color: #F9F9FB;
  padding: 50px 24px 30px 24px;
}
/*Altera o posissionamento do botão ao lado do "Seja Bem Vindo"*/
.headerTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.headerTopLeft {}

/*Altera a cor, fonte do "Seja Bem vindo*/
.headerTitle {
  font-weight: 500;
  font-size: 24px;
  color: #1b1b1b;
  margin-bottom: 8px;
}
/*Altera cor e fonte do "O que deseja pra hoje?"*/
.headerSubTitle{
  font-weight: 400;
  font-size: 16px;
  color: rgb(151, 151, 151, 0.8);
}

.headerTopRight {}

/*Altera o tamanho do menu ao lado do "Seja Bem Vindo"*/
.menuButton {
  width: 18px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Altera a cor do "menuButton"*/
.menuButtonLine {
  background-color: #FB9400;
  height: 2px;
}

.headerBotton {}